# Create Pandas Dataframe from 2D List using pd.DataFrame()

In [1]:
import pandas as pd

/Users/anupamakadambi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/anupamakadambi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [3]:
# List1  
lst = [['Geek', 25], ['is', 30], 
       ['for', 26], ['Geeksforgeeks', 22]]

In [4]:
df=pd.DataFrame(lst, columns=['Tag','Number'])

In [5]:
print(df)

             Tag  Number
0           Geek      25
1             is      30
2            for      26
3  Geeksforgeeks      22

In [9]:
df=pd.DataFrame(lst)
print(df)

               0   1
0           Geek  25
1             is  30
2            for  26
3  Geeksforgeeks  22